.pointer {
  cursor: pointer;
}

.space {
  clear: both
}

.m-top-10 {
  margin-top: 10px;
}

.m-top-20 {
  margin-top: 20px;
}

.text-center {
  text-align: center;
}

.demo-editor {
  height: 380px !important;
  border: 1px solid #F1F1F1 !important;
  padding: 5px !important;
  border-radius: 2px !important;
}
